.code {
    margin-left: 5%;
    border-spacing: 0px;
    background: url('bg-2.png') repeat-y top left;
}
.code h2 {
    counter-increment: line;
}
.code h3 {
    counter-increment: line;
}

.code p {
    counter-increment: line;
}
/* 
.code .section {
    border-left: 2px solid rgb(185, 85, 85);
} */

.code p::before,
.code h2::before,
.code h3::before {
    content: counter(line);
    display: inline-block;
    font-size: 16px;
    width: 1.5em;
    padding: 0 .5em;
    vertical-align: inherit;
    margin-right: 24px;
    align-content: end;
    right: 0;
    
    /* border-right: 2px solid rgb(185, 85, 85); */
    color: #888;
    
}